/* Elements */
h1 {
    margin: 25px;
    text-shadow: 2px 2px 5px black;
    text-align: right;
    color: white;
}
body {
    background-image: url("https://s3.postimg.org/4xjk3tbs3/books_768426_19201.jpg");
    /* http://www.trbimg.com/img-50e7ac8b/turbine/ct-prj-0106-book-preview-2013-20130104 */
    /* */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}

/* Classes */
.row {
    padding: 10px;
    
}
.well {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    color: white;
    border: none;
    text-align: center;
}

/* IDs */
#search-button {

}
#randomPage {
    display: none;
}
#search-clear {
    text-shadow: 2px 2px 3px black;
}
#suggestedArticles {
    display: none;
}
#random {
    text-shadow: 2px 2px 3px black;
}
